.container {
    padding: 10px;
    background: linear-gradient(-90deg,
            rgba(42, 123, 155, 0.81) 0%,
            rgba(87, 199, 133, 0.76) 100%,
            rgba(237, 221, 83, 1) 100%);
}

.nav-logo{
    display: flex;
    gap: 3vw;
    align-items: center;
}

.navbar {
    margin: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    list-style: none;
    display: flex;
    gap: 15px;
}

ul li a {
    text-decoration: none !important;
    color: #ffffff; 
    font-weight: 600; 
    font-size: 16px;
    padding: 6px 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
}

ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #ffd700; 
    transition: width 0.3s ease;
}

ul li a:hover::after {
    width: 100%;
}

ul li a:hover {
    color: #ffd700;
    background-color: rgba(255, 255, 255, 0.1); 
    transform: translateY(-2px);
}


.hamburger {
    display: none;
}

.mobile-nav-link {
    list-style: none;
    display: none;
    gap: 15px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 25px;
    background: rgb(68 167 133)
}

.cls-btn {
    z-index: 1;
    background-color: #ffe7e700;
    border: none;
    position: absolute;
    right: 20px;
}


@media (max-width: 480px) {

    .modal {
        position: fixed;
        top: 60;
        height: 100vh;
        left: -100%;
        width: 100vw;
        box-sizing: border-box;
        transition: left 0.5s ease-in-out;
        z-index: 1000;
    }

    .modal.visible {
        left: 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-link {
        display: none;
    }

    .mobile-nav-link {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}